@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
body{
  background-color: #90EE90;
  font-family: 'Poppins', sans-serif;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #181818;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  background-color: #282828;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box; 
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  border: none;
  background-color: #1DB954;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
  background-color: #1ED760;
}
form label {
  display: block;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  font-size: 16px;
  font-weight: 700;
}