<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <form action="/" method="POST">
        {{ form.hidden_tag() }}
        <label for="name">Nome</label>
        {{ form.name(id='name') }}
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        <label for="email">Email</label>
        {{ form.email(id='email') }}
        {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        <label for="password">Senha</label>
        {{ form.password(id='password') }}
        {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ form.submit() }}
    </form>
</body>
</html>